RewriteEngine On

RewriteRule ^([^/\.]+).atom$ atom.php?type=$1 [L]
RewriteRule ^([^/\.]+).rss$ rss.php?type=$1 [L]

RewriteRule ^news-([0-9]+)-.*$ index.php?mod=news&id=$1&lang=en [L]
RewriteRule ^tintuc-([0-9]+)-.*$ index.php?mod=news&id=$1&lang=vn [L]

RewriteRule ^location-([^0-9]+)-([0-9\-]+).html$ index.php?lang=en&mod=search&location=$2 [L]
RewriteRule ^vitri-([^0-9]+)-([0-9\-]+).html$ index.php?lang=vn&mod=search&location=$2 [L]

RewriteRule ^category-([^0-9]+)-([0-9\-]+).html$ index.php?lang=en&mod=search&category=$2 [L]
RewriteRule ^theloai-([^0-9]+)-([0-9\-]+).html$ index.php?lang=vn&mod=search&category=$2 [L]

RewriteRule ^reviews-([^0-9]+)-([0-9\-]+).html$ index.php?lang=en&mod=reviews&id=$2 [L]
RewriteRule ^danhgia-([^0-9]+)-([0-9\-]+).html$ index.php?lang=vn&mod=reviews&id=$2 [L]

RewriteRule ^jobs-([^0-9]+)-([0-9\-]+).html$ index.php?lang=en&mod=search&company=$2 [L]
RewriteRule ^vieclam-([^0-9]+)-([0-9\-]+).html$ index.php?lang=vn&mod=search&company=$2 [L]

RewriteRule ^courses-([^0-9]+)-([0-9\-]+).html$ index.php?lang=en&mod=courses&category=$2 [L]
RewriteRule ^cursos-([^0-9]+)-([0-9\-]+).html$ index.php?lang=vn&mod=courses&category=$2 [L]

RewriteRule ^course-([a-z0-9\-]+)-([0-9\-]+).html$ index.php?mod=course_details&lang=en&id=$2 [L]
RewriteRule ^khoahoc-([a-z0-9\-]+)-([0-9\-]+).html$ index.php?mod=course_details&lang=vn&id=$2 [L]

RewriteRule ^company-([a-z0-9\-]+)-([0-9\-]+).html$ index.php?mod=company&lang=en&id=$2 [L]
RewriteRule ^congty-([a-z0-9\-]+)-([0-9\-]+).html$ index.php?mod=company&lang=vn&id=$2 [L]

RewriteRule ^job-([a-z0-9\-]+)-([0-9\-]+).html$ index.php?mod=details&lang=en&id=$2 [L]
RewriteRule ^viec-lam-([a-z0-9\-]+)-([0-9\-]+).html$ index.php?mod=details&lang=vn&id=$2 [L]

RewriteRule ^fjob-([a-z0-9]+)-([a-z0-9\-]+).html$ index.php?mod=feed_details&lang=en&id=$1 [L]
RewriteRule ^fanuncio-([a-z0-9]+)-([a-z0-9\-]+).html$ index.php?mod=feed_details&lang=vn&id=$1 [L]

RewriteRule ^mod-([a-z]{2})-latest-jobs.html$ index.php?lang=$1&mod=search&latest=1 [L]
RewriteRule ^mod-latest-jobs.html$ index.php?mod=search&latest=1 [L]

RewriteRule ^mod-([a-z]{2})-featured-jobs.html$ index.php?lang=$1&mod=search&featured=1 [L]
RewriteRule ^mod-featured-jobs.html$ index.php?mod=search&featured=1 [L]

RewriteRule ^mod-([a-z]{2})-([^/\.]+).html$ index.php?lang=$1&mod=$2 [L]
RewriteRule ^mod-([^/\.]+).html$ index.php?mod=$1 [L]

RewriteRule ^([^/\.]+).html$ index.php?page=$1 [L]
